<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <mat-tab-group>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="material-icons">list</mat-icon> Minhas Pastas
                        </ng-template>
                        <app-dashboard-folder-option></app-dashboard-folder-option>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="material-icons">save_alt</mat-icon> Criar Pasta
                        </ng-template>
                        <app-dashboard-folder-save></app-dashboard-folder-save>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>