<nav class="navbar navbar-expand-lg navbar-light bg-info" style="height: 70px">
    <div class="container">
        <a routerLink="/" style="color:white; font-size: 25px ">Storage Files</a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Já tem conta ? Faça o login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>