.card-login {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}

.link {
    color: white;
    font-size: 25px;
}

.button {
    cursor: pointer; 
    border: none; 
    background-color: white; 
    font-size: 15px; 
    color: #424242;
}