<div class="logo">
    <a [routerLink]="['/user/dashboard/home']" class="simple-text">
        <div class="logo-img" style="padding-right: 12px;">
            <img src="/assets/img/cloud.png" />
        </div>
        Storage Files
    </a>
</div>
<div class="sidebar-wrapper">
    <div *ngIf="isMobileMenu()">
        <ul class="nav navbar-nav nav-mobile-menu">
            <li class="nav-item">
                <a class="nav-link" (click)="changePassword()">
                    <i class="material-icons">lock</i>
                    <p>
                        <span class="d-lg-none d-md-block">Alterar Senha</span>
                    </p>
                </a>
                <a class="nav-link" (click)="exit()">
                    <i class="material-icons">exit_to_app</i>
                    <p>
                        <span class="d-lg-none d-md-block">Sair</span>
                    </p>
                </a>
            </li>
        </ul>
    </div>
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>